@model IQueryable<Pet>
@{
    ViewBag.Title = "Wszystkie Zwierzeta";
    Layout = "_AccountLayout";
}
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Zwierze</th>
        <th class="text-center">Miasto</th>
        <th class="text-center">Opis</th>
        <th class="text-center">Data Dodania</th>
        <th class="text-center">Kategoria</th>
        <th class="text-center">Akcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.Id</td>
            <td class="text-center">@item.Name</td>
            <td class="text-center">@item.City</td>
            <td class="text-center">@item.Description</td>
            <td class="text-center">@item.AddDate</td>
            <td class="text-center">@item.Category</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-petId="@item.Id"> Edytuj </a>
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger btn-sm"> Usuń </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj Ogłoszenie</a>
    <a asp-controller="Pet" asp-action="List" class="btn btn-warning">Powrót</a>
</div>
