@model PetsListViewModel
<!-- banner section -->
<section class="xs-banner xs-bg" style="background-image: url('assets/images/header.jpg')">
    <div class="container">
        <div class="row xs-banner-wraper">
            <div class="col-md-12">
                <div class="xs-banner-content">
                    <h1 class="xs-banner-title">Adoptuj zwierzaka fizycznie lub wirtualnie</h1>
                    <p class="lead">Ponad 140 zwierzaków czeka na Twoje wsparcie. Adoptuj zwierzaki w schronisku lub wspieraj je zdalnie.</p>
                </div><!-- .xs-banner-content END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- End banner section -->
<div class="col-md-12 container-fluid">
        <div class="search_welcome">
            <form action="/" method="GET" class="form-inline">
                <input class="form-control" id="City" type="search" placeholder="Cała Polska lub wpisz miasto" aria-label="Search" name="City" data-tippy-content="Wpisz miasto, np. Warszawa" autocomplete="off">
                <button class="btn btn-outline-success" type="submit" asp-controller="Find" asp-action="Index" name="Category" value="Pies">
                    <i></i>
                    Znajdź psa
                </button>
                <button class="btn btn-outline-success" asp-controller="Find" asp-action="Index" type="submit" name="Category" value="Kot">
                    <i></i>
                    Znajdź kota
                </button>
            </form>
        </div>
    </div>
    <section class="xs-section-padding">
        <div class="container">
            <div class="row">
                <div class="xs-heading col-md-6">
                    <h2 class="xs-sub-title">Daj im drugie życie</h2>
                    <h3 class="xs-title">Zwięrzęta do adopcji</h3>
                </div><!-- .xs-heading END -->
            </div><!-- .row END -->
            <div class="row">
                    <!-- <div id="categories" class="col-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div> -->

                    @foreach (var p in Model.Pets)
                    {
                        @Html.Partial("PetSummary", p);
                    }
                </div>
            @{
                var prevDisabled = !Model.PagingInfo.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.PagingInfo.HasNextPage ? "disabled" : "";
            }
            <div class="text-center">
                <a asp-action="List" asp-route-petPage="@(Model.PagingInfo.CurrentPage-1)" class="btn btn-secondary @prevDisabled">Poprzedni</a>
                <a asp-action="List" asp-route-petPage="@(Model.PagingInfo.CurrentPage+1)" class="btn btn-secondary @nextDisabled">Następny</a>
            </div>
            <!-- <div class="row">
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
             class="btn-group pull-right m-1">
        </div>
    </div> -->
        </div>
    </section>
    <!-- feautre section -->
    <section class="xs-feautre">
        <!-- banner section -->
        <div class="xs-section-padding xs-about">
            <div class="container">
                <div class="row">
                    <div class="xs-heading col-md-8">
                        <h2 class="xs-sub-title">Co sprawia</h2>
                        <h3 class="xs-title">że nasze schronisko jest wyjątkowe?</h3>
                        <p>Naszym priorytetem się bezpieczeństwo adopcji. Dlatego stawiamy nacisk na bezpieczny proces adopcyjny.</p>
                    </div><!-- .xs-heading END -->
                </div><!-- .row END -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="xs-service-content">
                            <h3 class="xs-title" data-title="Zacznij">Zacznij swoją przygodę - zaadoptuj zwierzaka.</h3>
                            <p>Jesteśmy organizacją skupiająca się na profesjonalnym podejściu do adopcji zwierząt takich jak psi i koty. Razem z współpracującymi schroniskami mamy dla naszych klientów szeroki wybór zwierząt domowych od zwierząt bezdomnych po rasowe. Asystujemy w adopcji i służymy pomoca przy wyborze odpowiedniego pupila. Naszą misją jest zapewnić bezpieczny dom dla zwierząt.</p>
                            <a href="#" class="btn btn-secondary">Zacznij adopcje</a>
                        </div><!-- .xs-service-content END -->
                    </div>
                    <div class="col-lg-5">
                        <div class="media xs-single-feature">
                            <img src="assets/images/icons/dog-health-list.png" style="height: 100px; width: 100px;" class="d-flex mt-1" alt="">
                            <div class="media-body">
                                <h4>Proces adopcji</h4>
                                <p>Nasz proces adopcji składa się z szeregu pytań pomagających sprawdzić adoptujących. Sprawdzamy jakie cechy,nawyki i środowisko posiada osoba starająca się o adopcje.</p>
                                <a href="#"><i class="fa fa-play"></i> Czytaj więcej</a>
                            </div>
                        </div><!-- .xs-single-feature END -->
                        <div class="media xs-single-feature">
                            <img src="assets/images/icons/pet-shelter.png" class="d-flex mt-1" style="height: 100px; width: 100px;" alt="">
                            <div class="media-body">
                                <h4>Schroniska</h4>
                                <p>Znajdziesz tutaj liste schronisk współpracujących z nami oraz zwierząta jakie mają w do zaoferowania.</p>
                                <a href="#"><i class="fa fa-play"></i> Czytaj więcej</a>
                            </div>
                        </div><!-- .xs-single-feature END -->
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
            <div class="watermark-bg background-1" style="background-image: url(assets/images/features_bg_2.png)"></div>
        </div>  <!-- End banner section -->
        <!-- services section -->
        <div class="xs-services xs-bg" style="background-image: url('assets/images/backgrounds/doodle-bg-7.jpg'); background-size: contain;">
            <div class="container">
                <div class="row">
                    <div class="offset-6 col-lg-6 col-md-8">
                        <div class="xs-service-feature-content">
                            <div class="xs-service-feature-text">
                                <h2 class="xs-title">Wirtualne schronisko dla realnych zwierząt</h2>
                                <p>"Ratując psa, nie zmienimy świata, ale świat zmieni się dla tego jednego psa." Pomóż ratować zwierzętka. Każda <span class="color-secondarys">zbiórka pieniędzy</span> jest przekazywana na dowolnie wybranę schronisko lub zwierzę. Tym prostym gestem pozwolisz pomagać potrzebującym zwierzętą przez schroniska.</p>
                            </div>
                            <div class="row mx-auto">
                                <div class="col-lg-4">
                                    <ul class="nav flex-column xs-v-nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="pill" href="#progress">Progres</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#donated">Cel</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#mission">Wsparcie</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#vission">Wizja</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-8">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fadeIn active show xs-v-tab-content" id="progress" role="tabpanel">
                                            <div class="xs-chart" data-percent="65">
                                                <div class="xs-piechart-content">
                                                    <strong>73%</strong>
                                                    <small>Adopcji</small>
                                                </div>
                                            </div>
                                            <h4>Dzięki nam tyle zwierząt znajduje dom przez naszą platformę</h4>
                                            <p>Dziękujemy za zaufanie którym nasz obdarzacie i zaangarzowanie z jaką chcecie się opiekować adoptowanymi zwierzętami.</p>
                                        </div><!-- #progress END -->
                                        <div class="tab-pane fadeIn show xs-v-tab-content" id="donated" role="tabpanel">
                                            <div class="xs-chart" data-percent="85">
                                                <div class="xs-piechart-content">
                                                    <strong>85%</strong>
                                                    <small>schronisk w Polsce</small>
                                                </div>
                                            </div>
                                            <h4>Zamieszcza swoje zwierząta na naszej platformie.</h4>
                                            <p>Z miłości do czworonogów staramy się zapewnić im jak najlepszą przyszłośc w ciepłym i przytulnym domu. Dlatego pomagamy adoptującym znaleźć zwierzaka, dzięki którym spełniamą się wasze marzenia w całej Polsce.</p>
                                        </div><!-- #donated END -->
                                        <div class="tab-pane fadeIn show xs-v-tab-content" id="mission" role="tabpanel">
                                            <div class="xs-chart" data-percent="73">
                                                <div class="xs-piechart-content">
                                                    <strong>75%</strong>
                                                    <small>Darowizn</small>
                                                </div>
                                            </div>
                                            <h4>Zostało przekazane do państwowych schronisk na opiekę dla zwierząt.</h4>
                                            <p>Czy chciałbyś zaoferować swoją miłość i opiekę dla zwierzętą? Dzięki naszemu programowi możesz wirtualnie opiekować się dowolnie wybranym przez siebie zwierzatkiem.</p>
                                        </div><!-- #mission END -->
                                        <div class="tab-pane fadeIn show xs-v-tab-content" id="vission" role="tabpanel">
                                            <div class="xs-chart" data-percent="75">
                                                <div class="xs-piechart-content">
                                                    <strong>75%</strong>
                                                    <small>Donated</small>
                                                </div>
                                            </div>
                                            <h4>Chcemy wprowdzić wsparcie wirtualne dla zwierząt przez darowizne.</h4>
                                            <p>Nie masz jak zaadaptować zwierzęcia do swojego domu. Będziesz mógł wspomagać swojego ulubieńca przez zakup dla niego jedzenia.</p>
                                        </div><!-- #vission END -->
                                    </div>
                                </div>
                            </div><!-- .row end -->
                        </div>
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div>  <!-- End services section -->
    </section><!-- End feautre section -->