@model PetsListViewModel
<!-- banner section -->
<section class="xs-banner xs-bg" style="background-image: url('assets/images/header.jpg')">
    <div class="container">
        <div class="row xs-banner-wraper">
            <div class="col-md-12">
                <div class="xs-banner-content">
                    <h1 class="xs-banner-title">Adoptuj zwierzaka fizycznie lub wirtualnie</h1>
                    <p class="lead">Ponad 140 zwierzaków czeka na Twoje wsparcie. Adoptuj zwierzaki w schronisku lub wspieraj je zdalnie.</p>
                </div><!-- .xs-banner-content END -->
            </div>
        </div><!-- .row END -->
    </div><!-- .container END -->
</section><!-- End banner section -->
<div class="col-md-12">
    <div class="container-fluid">
        <div class="search_welcome">
            <form action="/" method="GET" class="form-inline">
                <input class="form-control tippy-click ui-autocomplete-input" id="City" type="search" placeholder="Cała Polska lub wpisz miasto" aria-label="Search" name="City" data-tippy-content="Wpisz miasto, np. Warszawa" autocomplete="off">
                <button class="btn btn-outline-success" type="submit" asp-controller="Find" asp-action="Index" name="Category" value="Pies">
                    <i class="flaticon flaticon-dog"></i>
                    Znajdź psa
                </button>
                <button class="btn btn-outline-success" asp-controller="Find" asp-action="Index" type="submit" name="Category" value="Kot">
                    <i class="flaticon flaticon-cat"></i>
                    Znajdź kota
                </button>
            </form>
        </div>
    </div>
    <section class="bg-gray xs-section-padding">
        <div class="container">
            <div class="row">
                <div class="xs-heading col-md-6">
                    <h2 class="xs-sub-title">Daj im drugie życie</h2>
                    <h3 class="xs-title">Zwięrzęta do adopcji</h3>
                </div><!-- .xs-heading END -->
            </div><!-- .row END -->
            <div class="row">
                <!-- <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div> -->

                @foreach (var p in Model.Pets)
                {
                    @Html.Partial("PetSummary", p);
                }
            </div>
            @{
                var prevDisabled = !Model.PagingInfo.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.PagingInfo.HasNextPage ? "disabled" : "";
            }
        <div class="text-center">
            <a asp-action="List" asp-route-petPage="@(Model.PagingInfo.CurrentPage-1)" class="btn btn-secondary @prevDisabled">Previous</a>
            <a asp-action="List" asp-route-petPage="@(Model.PagingInfo.CurrentPage+1)" class="btn btn-secondary @nextDisabled">Next</a>
        </div>
          <!-- <div class="row">
                <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-secondary"
                     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
                     class="btn-group pull-right m-1">
                </div>
            </div> -->
        </div>
    </section>
    <!-- feautre section -->
    <section class="xs-feautre">
        <!-- banner section -->
        <div class="bg-gray xs-section-padding xs-about">
            <div class="container">
                <div class="row">
                    <div class="xs-heading col-md-8">
                        <h2 class="xs-sub-title">What Makes</h2>
                        <h3 class="xs-title">Our Agency Unique?</h3>
                        <p>We strive to be the hands and feet of Jesus for children and families around the world. Bethany has a heart for children and we equip families to be the answer.</p>
                    </div><!-- .xs-heading END -->
                </div><!-- .row END -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="xs-service-content">
                            <h3 class="xs-title" data-title="Services">Start your adoption journey with us.</h3>
                            <p>We are a non-profit professional association of adoption social workers and consultants living and working worldwide. Together we have consulted in over 1000 adoption cases in over 100 countries since 1990 for Americans abroad. We provide Hague-accredited home studies and post adoption services for inter country adoptions as employees. We are a non-profit professional association of adoption social workers and consultants living and working worldwide. Together we have consulted in over 1000 adoption cases in over 100 countries.</p>
                            <a href="#" class="btn btn-success">get started now</a>
                        </div><!-- .xs-service-content END -->
                    </div>
                    <div class="col-lg-5">
                        <div class="media xs-single-feature">
                            <img src="assets/images/icons/family-icon.png" class="d-flex" alt="">
                            <div class="media-body">
                                <h4>Foster Care</h4>
                                <p>Children in foster care have been removed from their families because of neglect and abuse  the things means life.</p>
                                <a href="#"><i class="fa fa-play"></i> read more</a>
                            </div>
                        </div><!-- .xs-single-feature END -->
                        <div class="media xs-single-feature">
                            <img src="assets/images/icons/health-icon.png" class="d-flex" alt="">
                            <div class="media-body">
                                <h4>Adoption Care</h4>
                                <p>Millions of children around the world are in need of a loving family. As a full-service agency, we offer infant adoption care.</p>
                                <a href="#"><i class="fa fa-play"></i> read more</a>
                            </div>
                        </div><!-- .xs-single-feature END -->
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
            <div class="watermark-bg background-1" style="background-image: url(assets/images/features_bg_2.png)"></div>
        </div>  <!-- End banner section -->
        <!-- services section -->
        <div class="xs-services xs-bg" style="background-image: url('assets/images/backgrounds/bg-1.png')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                        <div class="xs-service-feature-content">
                            <div class="xs-service-feature-text">
                                <h2 class="xs-title">Florida Department of Family Services</h2>
                                <p>We strive to be the hands and feet of Jesus for children and families around the world. It allows you to gather monthly <span class="color-secondarys">subscriptions from</span> fans to help fund your creative projects.</p>
                            </div>
                            <div class="row mx-auto">
                                <div class="col-lg-4">
                                    <ul class="nav flex-column xs-v-nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="pill" href="#progress">Progress</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#donated">Donated</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#mission">Mission</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#vission">Vission</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-8">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fadeIn active show xs-v-tab-content" id="progress" role="tabpanel">
                                            <div class="xs-chart" data-percent="65">
                                                <div class="xs-piechart-content">
                                                    <strong>65%</strong>
                                                    <small>Donated</small>
                                                </div>
                                            </div>
                                            <h4>Has been donated this year to our Children Health Program.</h4>
                                            <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                        </div><!-- #progress END -->
                                        <div class="tab-pane fadeIn show xs-v-tab-content" id="donated" role="tabpanel">
                                            <div class="xs-chart" data-percent="85">
                                                <div class="xs-piechart-content">
                                                    <strong>85%</strong>
                                                    <small>Donated</small>
                                                </div>
                                            </div>
                                            <h4>Has been donated this year to our Children Health Program.</h4>
                                            <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                        </div><!-- #donated END -->
                                        <div class="tab-pane fadeIn show xs-v-tab-content" id="mission" role="tabpanel">
                                            <div class="xs-chart" data-percent="73">
                                                <div class="xs-piechart-content">
                                                    <strong>73%</strong>
                                                    <small>Donated</small>
                                                </div>
                                            </div>
                                            <h4>Has been donated this year to our Children Health Program.</h4>
                                            <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                        </div><!-- #mission END -->
                                        <div class="tab-pane fadeIn show xs-v-tab-content" id="vission" role="tabpanel">
                                            <div class="xs-chart" data-percent="75">
                                                <div class="xs-piechart-content">
                                                    <strong>75%</strong>
                                                    <small>Donated</small>
                                                </div>
                                            </div>
                                            <h4>Has been donated this year to our Children Health Program.</h4>
                                            <p>Could you offer a child the love and security of a family for life? Find out who can adopt and if it’s right for you.</p>
                                        </div><!-- #vission END -->
                                    </div>
                                </div>
                            </div><!-- .row end -->
                        </div>
                    </div>
                </div><!-- .row END -->
            </div><!-- .container END -->
        </div>  <!-- End services section -->
        <div class="watermark-bg background-2" style="background-image: url(assets/images/features_bg_1.png)"></div>
    </section><!-- End feautre section -->
</div>
