@model Pet
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.Name
        <small>@Model.City</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="~/images/@Model.Picture" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Pet description</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Info</h3>
            <ul>
                <li>Aktywność: @Model.Activity</li>
                <li>Wiek: @Model.Age</li>
                <li>Płeć: @Model.Sex</li>
                <li>Status: @if (@Model.Status == false)
                    {
                        <a>Czeka na adopcje</a>
                    }
                    else
                    {
                        <a>Zarezerwowany</a>
                    }
                </li>
            </ul>
            <a asp-controller="Pet" asp-action="List" class="btn btn-success">Powrót</a>
        </div>

    </div>
    <!-- /.row -->
</div>